@model List<Entities.Model.BookType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg">
        <div class="ibox">

            <div class="ibox-head">
                List of Book Types
            </div>

            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Type</th>
                                <th>@item.Description</th>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>