@model List<Entities.Model.BookType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="Index">
    <label style="font-weight:bold">Search Book Type : </label>
    @Html.TextBox("search")
    <button type="submit" name="search">Search</button>
</form>

<div class="row">
    <div class="col-lg">
        <div class="ibox">

            <div class="ibox-head">
                List of Book Types
            </div>

            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.Type</th>
                                <th>@item.Description</th>
                                <td><a href="/BookType/Update/@item.Id" class="btn btn-warning">Update</a></td>
                                <td><a href="/BookType/Delete/@item.Id" class="btn btn-danger">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/BookType/Add" class="btn btn-success">New</a>

            </div>
        </div>
    </div>
</div>